@import '@/assets/styles/reset.css';
@import '@/assets/styles/typography.css';
@import '@/assets/styles/layout.css';
@import '@/assets/styles/colors.css';
@import '@/assets/styles/animations.css';

/* Estilos adicionais abaixo */
#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  display: flex;
  flex: 1;
  margin: 0 auto;
}

body {
  background-color: var(--light-grey);
  background-image: url(../imgs/bg-texture.svg);
}
