@import '@/assets/styles/reset.css';
@import '@/assets/styles/tipografia.css';
@import '@/assets/styles/layout.css';
@import '@/assets/styles/cores.css';
@import '@/assets/styles/animations.css';

/* Estilos adicionais abaixo */
#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  display: flex;
  flex: 1;
  margin: 0 auto;
}

body {
  background-color: var(--cinza_claro);
  background-image: url(../Imagens/background_textura.svg);
}
