@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Rubik+Mono+One&display=swap');

body {
  color: var(--cinza_escuro);
  font-family: 'Bellota Text', serif;
  font-weight: 400;
  font-style: normal;
}

h2,
h3 {
  font-family: 'Rubik Mono One', serif;
  word-spacing: -10px;
  line-height: 1.2;
}

h2 {
  font-size: clamp(1.2rem, 1.4rem + 2vw, 2rem);
  color: var(--light-grey);
  /* font-size: 60px; */
  text-align: center;
}

h3 {
  font-size: clamp(1rem, 0.9rem + 0.6vw, 1.2rem);
  color: var(--dark-blue);
  margin-bottom: 0;
}

a {
  color: var(--dark-grey);
}

p {
  font-size: 1em;
  line-height: 1.6;
}

strong {
  font-weight: 700;
}

button {
  font-family: 'Bellota Text', serif;
}

@media screen and (max-width: 600px) {
  p {
    font-size: 0.9em;
  }
  h3 {
    font-size: 0.9em;
  }
}
